<!DOCTYPE html>
<html>
<head>
    <title>lalal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel='stylesheet' href='/css/login.css' />
</head>
<body>
<form action="/login" method="post">
    <div class="login_main">
        <div><span class="lable">用户名：</span><input type="text" name="username"></div>
        <div><span class="lable">密码：</span><input type="password" name="password"></div>
        <input type="submit" value="登录">
    </div>
</form>

<script>

</script>
</body>
</html>